{% load i18n %}
{% load static %}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-5 col-xs-12 block-footer-socials">
                <a href="#facebook" class="btn btn-link">
                    <i class="fa fa-facebook-square fa-2x"></i>Find us on<br>Facebook</a>
                <a href="#twitter" class="btn btn-link">
                    <i class="fa fa-twitter-square fa-2x"></i>Find us on<br>Twitter</a>
            </div>
            <div class="col-md-6 col-sm-7 col-xs-12 block-footer-payments">
                {#                <img class="sage" src="../../static/images/footer-payments-sage.png"><img class="cards" src="../../static/images/footer-payments-cards.png">#}
                <img class="cards-custom" src="/static/images/visa.svg" alt="Visa">
                <img class="cards-custom" src="/static/images/mc.svg" alt="MasterCard">
                <img class="cards-custom" src="/static/images/solo.svg" alt="Solo">
                <img class="cards-custom" src="/static/images/maestro.svg" alt="Maestro">
                <img class="cards-custom" src="/static/images/ve.svg" alt="Visa Electron">
                <img class="cards-custom" src="/static/images/pp.svg" alt="PayPal">
                <img class="cards-custom" src="/static/images/google.svg" alt="Google">
                <img class="cards-custom" src="/static/images/amazon.svg" alt="Amazon">
            </div>

        </div>
        <hr>
        <div class="row">
            <div class="col-md-8 col-sm-9 col-xs-12 block-footer-links">
                <ul class="list-inline">
                    <li><a href="#terms-and-conditions">Terms & Conditions</a></li>
                    <li><a href="#privacy-policy">Privacy Policy</a></li>
                    <li><a href="#return-policy">Return Policy</a></li>
                    <li><a href="#about-us">About us</a></li>
                    <li><a href="#contact-us">Contact us</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-3 col-xs-12">Copyright &copy; IMIP 2014</div>
        </div>
    </div>
</footer>