{% load static %}

<div class="container margin-bottom-40">
    <div class="block-header">
        <h4>Latest news</h4>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="article-container">
                <div class="article-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <img class="img-responsive" src="{% static 'images/article-1.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-6">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
                <div class="article-footer">
                    <div class="row">
                        <div class="col-xs-6 block-article-date"><i class="fa fa-calendar"></i> 16 Oct 2014
                        </div>
                        <div class="col-xs-6 block-readmore"><a class="btn btn-link">Read more</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="article-container">
                <div class="article-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <img class="img-responsive" src="{% static 'images/article-2.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-6">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
                <div class="article-footer">
                    <div class="row">
                        <div class="col-xs-6 block-article-date"><i class="fa fa-calendar"></i> 16 Oct 2014
                        </div>
                        <div class="col-xs-6 block-readmore"><a class="btn btn-link">Read more</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="article-container">
                <div class="article-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <img class="img-responsive" src="{% static 'images/article-3.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-6">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
                <div class="article-footer">
                    <div class="row">
                        <div class="col-xs-6 block-article-date"><i class="fa fa-calendar"></i> 16 Oct 2014
                        </div>
                        <div class="col-xs-6 block-readmore"><a class="btn btn-link">Read more</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
