{# Need to load appropriate modules here #}

<!-- Reviews -->
    {% iffeature "reviews" %}
        {% block product_review %}
        <section>
            <div id="reviews" class="sub-header review-header">
                {% if product.num_approved_reviews > 3 %}
                    <a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}" class="btn pull-right">{% trans "See all reviews" %}</a>
                {% endif %}
                <h4>{% trans "Customer Reviews" %}</h4>
            </div>

            {% if product.num_approved_reviews == 0 %}
                <p>
                    {% if product|is_review_permitted:user %}
                        {% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id as add_review_url %}
                            {% blocktrans %}This product does not have any reviews yet -
                            <a href="{{ add_review_url }}#addreview">be the first to write one</a>.
                        {% endblocktrans %}
                    {% else %}
                        {% trans "This product does not have any reviews yet" %}.
                    {% endif %}
                </p>
            {% else %}
                <ul class="styled review-list">
                    {% for review in reviews|slice:":3" %}
                        <li>
                        {% include 'catalogue/partials/review.html' %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </section>
        {% endblock product_review %}
    {% endiffeature %}

    {% iffeature "reviews" %}
        {% if product.rating != None %}
            <h4 class="star-rating {{ product.rating|as_stars }}">
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>

                <small><a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}">
                    {% blocktrans count product.num_approved_reviews as num_reviews %}
                    1 customer review
                    {% plural %}
                    {{ num_reviews }} customer reviews
                    {% endblocktrans %}
                </a></small>
                &nbsp;
        {% else %}
            <h4>
        {% endif %}
        {% if product|is_review_permitted:user %}
            <a id="write_review" href="{% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id %}#addreview" class="btn btn-success btn-small">
                {% trans "Write a review" %}
            </a>
        {% endif %}
        </h4>
    {% endiffeature %}<!-- End Reviews -->