{% load widget_tweaks %}

{#{{ password_reset_form }}#}
<div class="modal login-popup login" id="forgot-password" tabindex="-1" role="dialog"
     aria-labelledby="login-popup-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix"><span class="pull-left" id="login-popup-label">Password reset</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="modal-data clearfix" style="border-bottom: none">
                <p class="text-center">
                    Please enter the email address used to register.<br>
                    We will e-mail you your new password
                </p>
                <form id="login_form" action="{% url 'customer:change-password' %}" method="post">
                    {% csrf_token %}
                        {{ password_reset_form.email|attr:'placeholder: example@mail.com'}}
                    <button type="submit" class="btn btn-primary pull-right">RESET</button>
                </form>
            </div>
        </div>
    </div>
    </div>