{% extends "checkout/checkout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Payment details" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=3 %}
{% endblock %}

{% block checkout_title %}{% trans "Enter payment details" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block payment_details %}
    {% comment %}
        {% block payment_details_content %}
            <p>{% trans "This page needs implementing within your project.  You may want to use one of Oscar's payment gateway libraries:" %}</p>
            <ul>
                <li><a href="https://github.com/django-oscar/django-oscar-paypal">django-oscar-paypal</a></li>
                <li><a href="https://github.com/django-oscar/django-oscar-datacash">django-oscar-datacash</a></li>
                <li><a href="https://github.com/django-oscar/django-oscar-gocardless">django-oscar-gocardless</a></li>
                <li><a href="https://github.com/django-oscar/django-oscar-paymentexpress">django-oscar-paymentexpress</a></li>
                <li><a href="https://github.com/django-oscar/django-oscar-accounts">django-oscar-accounts</a></li>
            </ul>
            <a id="view_preview" href="{% url 'checkout:preview' %}" class="btn btn-primary btn-large">{% trans "Continue" %}</a>
        {% endblock payment_details_content %}
    {% endcomment %}

    <div class="well">
        <div class="sub-header">
            <h3>{% trans "PayPal Express" %}</h3>
        </div>
        <p>{% trans "Click on the below icon to use Express Checkout but where the shipping address and method is already chosen on the merchant site." %}</p>
        <div style="overflow:auto"><a href="{% url 'paypal-direct-payment' %}" title="{% trans "Pay with PayPal" %}"><img src="https://www.paypal.com/en_US/i/logo/PayPal_mark_37x23.gif" align="left" style="margin-right:7px;"></a>&nbsp;</div>
    </div>

    <div class="well">
        <div class="sub-header">
            <h3>{% trans "PayPal PayFlow Pro" %}</h3>
        </div>
        <form method="post" action="{% url 'checkout:preview' %}" class="form-stacked">
            {% csrf_token %}
            <h4>{% trans "Bankcard" %}</h4>
            {% include "partials/form_fields.html" with form=bankcard_form %}
            <h4>{% trans "Billing address" %}</h4>
            {% include "partials/form_fields.html" with form=billing_address_form %}
            <div class="form-actions">
                <button type="submit" class="btn btn-large btn-info btn-action">{% trans "Continue" %}</button>
            </div>
        </form>
    </div>

    {% comment %}
        <div class="block-header">
            <h4>SHOPPING CART</h4>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    Please select your prefered payment method to pay the ammount of <span class="text-info">FIXME (inc VAT)</span>
                </p>

                <br>

                <p>
                    <img src="/static/images/visa.svg" alt="Visa">
                    <img src="/static/images/mc.svg" alt="MasterCard">
                    <img src="/static/images/solo.svg" alt="Solo">
                    <img src="/static/images/maestro.svg" alt="Maestro">
                    <img src="/static/images/ve.svg" alt="Visa Electron">
                    <img src="/static/images/pp.svg" alt="PayPal">
                    &nbsp; &nbsp; Pay with your card or your Paypal account
                </p>

                <br>

                <p>
                    <img src="/static/images/google.svg" alt="Google">
                    &nbsp; &nbsp; Pay by Google Checkout
                </p>

                <br>

                <p>
                    <img src="/static/images/amazon.svg" alt="Amazon">
                    &nbsp; &nbsp; Pay by Amazon Checkout
                </p>
            </div>
        </div>
    {% endcomment %}
{% endblock payment_details %}
